body {
  height: 1000;
  display: flex;
  justify-content: center;
}

.popup-container {
  display: none;
  position: absolute;
  top: 30px; /* Điều chỉnh vị trí của cửa sổ popup */
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
}

#live-stream-button:hover + .popup-container {
  display: block;
}
